awsebcli==3.14.6
blessed==1.15.0
botocore==1.12.51
cached-property==1.5.1
cachetools==3.0.0
cement==2.8.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.3.9
docker==3.5.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.9
google-api-python-client==1.7.4
google-auth==1.6.1
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httplib2==0.12.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.3
jsonschema==2.6.0
MarkupSafe==1.1.0
numpy==1.15.4
oauth2client==4.1.3
pathspec==0.5.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-dateutil==2.7.5
PyYAML==5.4
requests==2.18.4
rsa==4.0
scipy==1.1.0
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
Theano==1.0.3
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
